/**
 * Déclaration des variables
 */
:root {
    --button-width: 80px;
    --button-height: 60px;
    /* --button-space: 0; !* fait une calculette sur une ligne :P *!*/
    --button-space: 8px;

    /*--radius: calc(var(--button-height) * 0.5); !* boutons ronds *!*/
    /*--radius: 0;*/
    --radius: 16px;

    --ecran-text-size: calc(var(--button-height) * 0.7);
    --btn-text-size: calc(var(--button-height) * 0.5);

    /* todo: exercice : créer d'autres variables pour pouvoir configurer la calculette sans (trop) toucher le code */
}

* {
    box-sizing: border-box;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background-color: #fcfff4;
    font-family: monospace;
}

.calculator {
    box-sizing: content-box; /* la largeur ignore le padding */

    width: calc(var(--button-width) * 4 + var(--button-space) * 8);
    padding: 16px;

    background: rgb(233,233,233);
    background: linear-gradient(180deg, rgb(222, 222, 222) 0%, rgb(160, 160, 160) 100%);

    border-radius: calc(var(--radius) * 2);

    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5),
        0 0 20px 0 rgba(0,0,0,0.2),
        0 20px 20px 0 rgba(0,0,0,0.3),
        inset 0 0 1px 4px rgba(255,255,255, 0.55),
        inset 0 0 20px -10px rgba(0,0,0, 0.99);
}

.btn-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}



/* -------------------- */
/* Holes
/* -------------------- */

.slot {
    position: relative; /* sert de ref pour les ::after */

    margin: var(--button-space);

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.1) 100%);
    padding: 3px;
    border-radius: calc(var(--radius) + 2px);

    /* Cette ligne rend un meilleur résultat visuel que l'élément ci-dessous, mais c'est juste pour voir des astuces ! */
    /* box-shadow: 0 2px 1px 1px rgba(255, 255, 255, 0.3); */
}

.slot > * { /* n'importe quel élément dans un emplacement */
    border-radius: var(--radius);
}

.slot::after {

    --extra-space: 2px;
    content: ""; /* Un contenu est obligatoire (même vide !) */
    position: absolute;

    display: block;

    width: calc(100% + 2 * var(--extra-space));
    left: calc(var(--extra-space) * -1);

    height: calc(var(--radius) * 2.2);
    bottom: -3px;

    border-bottom: solid 2px rgba(255, 255, 255, 0.6);
    border-radius: calc(var(--radius) * 1.75);
}

/* -------------------- */
/* Buttons
/* -------------------- */
.btn-container {
    width: var(--button-width);
    height: var(--button-height);
}

button {

    width: 100%;
    height: 100%;
    border: none;
    padding: 0;

    border-top: rgba(255, 255, 255, 0.8) solid 3px;

    background: rgb(227,227,227);
    background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(233,233,233,1) 26%, rgba(240,240,240,1) 35%, rgba(198,198,198,1) 100%);

    font-weight: bold;
    font-size: var(--btn-text-size);
    color: #464646;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 1px #fff;
}


button:focus {
    outline: none; /* WARNING: pour des raisons d'accessibilité, éviter d'enlever le outline */
    transform: scale(0.96);
}

.btn-container.btn-large {
    width: calc(2 * var(--button-width) + 2 * var(--button-space));
}

.btn-container.btn-large button {
    text-align: left;
    padding-left: calc(var(--button-width) * 0.4);
}

.btn-egal {
    height: calc(2 * var(--button-height) + 2 * var(--button-space));
    margin-top: calc((var(--button-height) +  var(--button-space)) * -1);

}

.btn-egal button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: calc(var(--button-height) * 0.1);
}

/* -------------------- */
/* ecran
/* -------------------- */

.ecran {

    height: var(--button-height);
    padding: 0 8px;

    line-height: var(--button-height);
    font-size:var(--ecran-text-size);
    text-align: right;
    color: #464646;

    background: rgb(189,213,146);
    background: linear-gradient(0deg, rgba(189,213,146,1) 0%, rgba(226,251,180,1) 41%, rgba(250,255,194,1) 71%, rgba(201,228,150,1) 100%);
}

